#nav-bar {
  display: flex;
  border: 5px solid red;
  justify-content: space-around;
}
h1, h3 {
  text-align: center;
}
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a {
  font-size: 32px;
}
