body {
  background-color: teal
}

.tweetIcons{
height: 75px;
width: 75px
}


.articleImageError{
  max-width:20%;
  height: auto
}

.articleImage{
  max-width: 33%;
  height :auto
}


.NYPDTweetImages {
max-width: 50%;
height: auto;
}
.articleCard{
  background-color: white;
  border: 5px solid yellow;
  max-width: 75%;
  font-size: 1.5em;
  height: auto;
  text-align: center;
}
.NYPDTweetDivs {
  border: 5px solid red;
  background-color: white;
  max-width: 75%;
  font-size: 1.5em;
  height: auto;
  text-align: left;
}

.MTATweetDivs {
  border: 5px solid green;
background-color: white;
max-width: 75%;
font-size: 1.5em;
height: auto;
  text-align: left;
}

#nav-bar {
  display: flex;
  border: 5px solid yellow;
  justify-content: space-around;
}
h1, h3 {
  text-align: center;
}
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a {
  font-size: 32px;
}
/* #articles{
  display: flex;
  flex-direction: column;
} */

