body {
  background: teal;
  font-family: "Lato"
  margin: 0 auto
}

/*Media Querie for Mobile*/
@media only screen and (min-width:884px){
    
}


#mission {
  font-size: 1.5em;
  color: white
}

#missionText{
  font-size: 1.5em;
  color: white;
  text-align: center;
}

#footer {
  font-size: 1.5em;
  color: white;
  bottom: 10px;
}

#MTATweets {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  justify-items: left;
}

#NYPDTweets {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  justify-items: left;
}

#articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  justify-items: left;
}


.header {
color: white;
font-size: 2.5em;
}

.tweetIcons{
height: 75px;
width: 75px
}


.articleImageError{
  max-width:20%;
  height: auto
}

.articleImage{
  max-width: 50%;
  height :auto
}


.NYPDTweetImages {
max-width: 33%;
height: auto;
}

.articleCard{
  display: flex;
  justify-items: center;
  background-color: white;
  border: 5px dotted yellow;
  max-width: 100%;
  font-size: 1.2em;
  height: auto;
  text-align: center;
}
.NYPDTweetDivs {
  border: 5px dotted yellow;
  background-color: white;
  max-width: 75%;
  font-size: 1.5em;
  height: auto;
  text-align: left;
}

.MTATweetDivs {
  display: flex;
  justify-items: left;
  border: 5px dotted yellow;
background-color: white;
max-width: 100%;
font-size: 1.5em;
height: auto;
  text-align: left;
}

#nav-bar {
  font-size: 2em;
  color: white;
  display: flex;
  flex: wrap;
  border: 5px solid yellow;
  justify-content: space-around;
}
h1, h3 {
  text-align: center;
}
#logo{
  display: block;
  height: auto;
  min-width: 25%;
  margin-left: auto;
  margin-right: auto;
}
a {
  font-size: 32px;
}
/* #articles{
  display: flex;
  flex-direction: column;
} */

